$("#registration-form").html("<div class='registeredtext'><center>Thanks for registering, we'll be in touch shortly</center></div>")

$("#registration-form2").html("")

window.location = 'https://hackjustice.herokuapp/#register';
