$("#registration-form").html("<div class='registeredtext'><center>Thanks for registering, we'll be in touch shortly</center><br><br><center>In the meantime, keep up to date with what's happening via our social media channels</center><br><br><center><a href='http://www.yahoo.com'><i class='fa fa-facebook-square fa-4x'</i></a>"  "<a href='http://www.yahoo.com'><i class='fa fa-twitter-square fa-4x'</i></a></center></div>")

$("#registration-form2").html("")

window.location = 'https://www.hackjustice.com/#register';
