// alert ("Thanks for registering, we'll be in touch shortly");
$("#registration-form").html("<div class='registeredtext' style='height:1000px;'><center>Thanks for registering, we'll be in touch shortly</center></div>")

$("#registration-form2").html("")
