/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require_self
*= require_style
*= require_tree .
 */

 .team-image
 {height: 200px;
   width: auto;
}

 .light-bg .section-text {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
 	font-size: 30px;
  font-weight: bold;
 }

.light-bg h2{
  text-transform: uppercase;
  color: #790b6b;
  font-family: 'Roboto', sans-serif;
 	font-size: 40px;
  font-weight: bold;
}

.light-bg p{
  color: #790b6b;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
 	font-size: 19px;
  font-weight: 400;;
}

 .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

 .navbar .nav,
 .navbar .nav > li {
   float:none;
   display:inline-block;
   *display:inline; /* ie7 fix */
   *zoom:1; /* hasLayout ie7 trigger */
   vertical-align: top;
 }

 .navbar-inner {
   text-align:center;
 }
