<section id="about" class="dark-bg">
  <div class="container padding-bottompg">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <h2>Hack-a-what?</h2>
          <h5>'crazy ideas become reality'</h5>
          <h4>July 20 & 21</h4>
          <h4>HackJustice is Australia's oldest law school hackathon, run by students for students. University students from around the country gather to solve some of the biggest legal issues using the power of technology.</h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row custom-row">
      <!-- about module -->
      <div class="col-md-3 text-center">
        <div class="mz-module-about">
          <i class="ot-circle fa fa-university fa-3x fa-stack"></i>
          <h3>Law</h3>
          <p>Work to solve key legal issues faced by community legal centres</p>
        </div>
      </div>
      <!-- end about module -->
      <!-- about module -->
      <div class="col-md-3 text-center">
        <div class="mz-module-about">
          <i class="ot-circle fa fa-laptop fa-3x fa-stack"></i>
          <h3>Technology</h3>
          <p>Bring your ideas to life through technology</p>
        </div>
      </div>
      <!-- end about module -->
      <!-- about module -->
      <div class="col-md-3 text-center">
        <div class="mz-module-about">
          <i class="ot-circle fa fa-users fa-3x fa-stack"></i>
          <h3>Collaboration</h3>
          <p>Team up with students and professionals of different backgrounds</p>
        </div>
      </div>
      <!-- end about module -->
      <!-- about module -->
      <div class="col-md-3 text-center">
        <div class="mz-module-about">
          <i class="ot-circle fa fa-gift fa-3x fa-stack"></i>
          <h3>Freebies & Prizes</h3>
          <p>Enjoy snacks and collect freebies on your way to the prize pool!</p>
        </div>
      </div>
      <!-- end about module -->

    </div>
  </div>
  <!-- /.container -->
    <br>
</section>
