<section id="about" class="dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <br>
          <br>
          <br>
          <h2>Hack-a-what?</h2>
          <br>
          <h5>'crazy ideas become reality'</h5>
          <br>
          <h4>The UNSW Law Hackathon is an event where we will solve key legal issues using really cool technology!</h4>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- about module -->
      <div class="col-md-3 text-center">
        <div class="mz-module-about">
          <i class="ot-circle fa fa-university fa-3x fa-stack"></i>
          <h3>Law</h3>
          <p>Work to solve key legal issues faced by UNSW's community legal centres</p>
        </div>
      </div>
      <!-- end about module -->
      <!-- about module -->
      <div class="col-md-3 text-center">
        <div class="mz-module-about">
          <i class="ot-circle fa fa-laptop fa-3x fa-stack"></i>
          <h3>Technology</h3>
          <p>Bring your ideas to life with one of our many developers</p>
        </div>
      </div>
      <!-- end about module -->
      <!-- about module -->
      <div class="col-md-3 text-center">
        <div class="mz-module-about">
          <i class="ot-circle fa fa-users fa-3x fa-stack"></i>
          <h3>Collaboration</h3>
          <p>Team up with students and professionals of different backgrounds</p>
        </div>
      </div>
      <!-- end about module -->
      <!-- about module -->
      <div class="col-md-3 text-center">
        <div class="mz-module-about">
          <i class="ot-circle fa fa-gift fa-3x fa-stack"></i>
          <h3>Freebies & Prizes</h3>
          <p>Consume snacks and collect freebies on your way to the prize pool!</p>
        </div>
      </div>
      <!-- end about module -->

    </div>
  </div>
  <!-- /.container -->
    <br>
</section>
