<div class="dark-bg">
<section id="people">
  <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
    <div class="section-title customtitle">
      <h2>In the News</h2>
        <br>
        <br>
      <h3>Here's what people have been saying about HackJustice</h3>
        <br>
        <br>
        <br>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/unswhackarticle" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>UNSW Newsroom</h2>
            <a href="http://www.law.unsw.edu.au/news/2016/08/hackathon-shows-law-and-technology-go-hand-hand">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-0-gutter">
    <div class="ot-portfolio-item">
      <figure class="effect-bubba">
        <img src="assets/technolegemhack.png" alt="img02" class="img-responsive" />
        <figcaption>
          <h2>Technolegem</h2>
          <a href="https://www.technolegem.org/2016/05/unsw-brings-hackathon-law-school/">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/nathanhack" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Nathan Feiglin, hacker</h2>
            <a href="https://nathanfeiglin.com/i-tried-to-hack-justice-and-this-is-what-happened-3387db93664b" data-toggle="modal" data-target="">View more</a>
          </figcaption>
        </figure>
      </div>

</section>
</div>
