<section id="map" class="dark-bg">
<div class="col-lg-12 text-center">
<div class="section-title">
<h2>When and Where?</h2>
<br>

<div class="overlay" onClick="style.pointerEvents='none'"></div>
<iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.964078540228!2d151.22875869869807!3d-33.91632407749086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x73911e34402a6f8c!2sUNSW+Law!5e0!3m2!1sen!2sau!4v1459390361573"></iframe>
</div>
</div>
</section>
