<section id="map" class="dark-bg">
  <div class="col-lg-12 text-center">
    <div class="section-title">
      <h2>Where is it?</h2>
      <br>
      <h3>Michael Crouch Innovation Centre, UNSW Sydney NSW 2052 Australia</h3>
      <br><br>
      <div class="overlay" onClick="style.pointerEvents='none'">

      </div>
    </div>
  </div>
      <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.95622573973!2d151.2262994152115!3d-33.91652618064308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b18b70047599%3A0xf93ae0ba331593b8!2sMichael+Crouch+Innovation+Centre!5e0!3m2!1sen!2sau!4v1489819568413"></iframe>
</section>
