  <div class="dark-bg">
  <section id="people">
    <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <div class="section-title customtitle">
        <h2>People Power</h2>
        <br>
        <br>
        <h3>We've lined up the best from the law, innovation and technology space. Check out their profiles below!</h3>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- start portfolio item -->
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/samnick" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Sam Nickless</h2>
            <p>Chief Operating Officer, Gilbert and Tobin</p>
            <a href="#" data-toggle="modal" data-target="">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- end portfolio item -->
    <!-- start portfolio item -->
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/pete.jpg" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Peter Argent</h2>
            <p>Founder, Coder Factory Academy</p>
            <a href="#" data-toggle="modal" data-target="">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/philippe" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Philippe Doyle Gray</h2>
            <p>Barrister, 8 Wentworth Chambers</p>
            <a href="#" data-toggle="modal" data-target="">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- end portfolio item -->
    <!-- start portfolio item -->
  </div>
  <div class="row">
    <!-- start portfolio item -->
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/michaelkirby" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Michael Kirby</h2>
            <p>Former Judge, High Court of Australia</p>
            <a href="#" data-toggle="modal" data-target="">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/tanya" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Tanya Jackson-Vaughan</h2>
            <p>Executive Director, Refugee Advice and Casework Service</p>
            <a href="#" data-toggle="modal" data-target="">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- end portfolio item -->
    <!-- start portfolio item -->
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/petecon" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Peter Connor</h2>
            <p>Founder, Alternatively Legal</p>
            <a href="#" data-toggle="modal" data-target="">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/rgrant" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Rebecca Grant</h2>
            <p>Executive Director, icourts</p>
            <a href="#" data-toggle="modal" data-target="">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  <div class="col-md-4 col-0-gutter">
    <div class="ot-portfolio-item">
      <figure class="effect-bubba">
        <img src="assets/gwilliams" alt="img02" class="img-responsive" />
        <figcaption>
          <h2>George Williams</h2>
          <p>Dean, UNSW Law School</p>
          <a href="#" data-toggle="modal" data-target="">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="col-md-4 col-0-gutter">
    <div class="ot-portfolio-item">
      <figure class="effect-bubba">
        <img src="assets/michaellegg" alt="img02" class="img-responsive" />
        <figcaption>
          <h2>Michael Legg</h2>
          <p>Associate Professor, UNSW</p>
          <a href="#" data-toggle="modal" data-target="">View more</a>
        </figcaption>
      </figure>
  </div>
  </div>
 </div>
  <div class="row">
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/frankfotea" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Frank Fotea</h2>
            <p>Legal Counsel, UNSW Innovations</p>
            <a href="#" data-toggle="modal" data-target="">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    </div>
</div>
</div>
</section>
</div>
