<section id="portfolio">
  <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="section-title">
        <h2>People Power</h2>
        <br>
        <p>We've lined up the best from the law, innovation and technology space. Check out their profiles below!</p>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- start portfolio item -->
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/samnick" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Sam Nickless</h2>
            <p>Chief Operating Officer, Gilbert and Tobin</p>
            <a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- end portfolio item -->
    <!-- start portfolio item -->
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/peteargent.jpg" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Peter Argent</h2>
            <p>Founder, Coder Factory</p>
            <a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- end portfolio item -->
    <!-- start portfolio item -->
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/portfolio-3.jpg" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Rebecca Grant</h2>
            <p>Executive Director, icourts</p>
            <a href="#" data-toggle="modal" data-target="#Modal-3">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- end portfolio item -->
  </div>
  <div class="row">
    <!-- start portfolio item -->
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/philippe" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Philipe Doyle Gray</h2>
            <p>Barrister, 8 Wentworth Chambers</p>
            <a href="#" data-toggle="modal" data-target="#Modal-4">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- end portfolio item -->
    <!-- start portfolio item -->
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/tanya" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Tanya Jackson-Vaughan</h2>
            <p>Executive Director, Refugee Advice and Casework Service</p>
            <a href="#" data-toggle="modal" data-target="#Modal-5">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- end portfolio item -->
    <!-- start portfolio item -->
    <div class="col-md-4 col-0-gutter">
      <div class="ot-portfolio-item">
        <figure class="effect-bubba">
          <img src="assets/portfolio-6.jpg" alt="img02" class="img-responsive" />
          <figcaption>
            <h2>Marta Ganko</h2>
            <p>Privacy and Data Protection Lead, Deloitte</p>
            <a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- end portfolio item -->
  </div>
  </div><!-- end container -->
</section>
