<!-- Modal for portfolio item 1 -->
<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-1">Dean & Letter</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-1.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for portfolio item 2 -->
<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-2">Michael Legg</h4>
      </div>
      <div class="modal-body">
        <div class="modal-works"><span>Associate Professor</span><span>UNSW</span></div>
        <p>Michael specialises in civil and regulatory litigation, class actions, and corporate and securities law. <br><br><br><br><br><br>Touch base with professionals in the industry about how technology is changing the way they work. They'll be around.<br><br>You might even score a freebie or two along the way.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for portfolio item 3 -->
<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-3">Lamp & Velvet</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-3.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for portfolio item 4 -->
<div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-4">Smart Name</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-4.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for portfolio item 5 -->
<div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-5">Fast People</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-5.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-6" tabindex="-1" role="dialog" aria-labelledby="Modal-label-6">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-6">Welcome to HackJustice</h4>
      </div>
      <div class="modal-body">
        <div class="modal-works"><span>Welcome</span><span>Guest Speakers</span></div>
        <p>The event to kick off the mother of all law hackathons. <br><br>We've put together a list of brilliant minds from the legal and technology industry to speak about the future of law. Listen to their perspective, offer your own and engage with the future challenges of the legal industry.<br><br>Teams will then hear from the community legal centres whose problems will be the subject of the event.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-7" tabindex="-1" role="dialog" aria-labelledby="Modal-label-7">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-7">Let the hack begin</h4>
      </div>
      <div class="modal-body">
        <div class="modal-works"><span>Hack</span><span>Snack</span></div>
        <p>Meet your team, brainstorm ideas, learn about the application development process and begin putting together your solution to the problem.<br><br>Touch base with professionals in the industry about how technology is changing the way they work. They'll be around.<br><br>You might even score a freebie or two along the way.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-8" tabindex="-1" role="dialog" aria-labelledby="Modal-label-8">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-8">Into Day 2</h4>
      </div>
      <div class="modal-body">
        <div class="modal-works"><span>Hack</span><span>Snack</span></div>
        <p>Into the nitty gritty. Spend the first part of the day hacking, eating, talking and hacking a little more. Work with your dev team to construct your solution, test your development and prepare a pitch to convince the judges your solution is best.<br><br>Keep an ear out for some added inspiration, there will be plenty of it around.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-9" tabindex="-1" role="dialog" aria-labelledby="Modal-label-9">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-9">The home straight</h4>
      </div>
      <div class="modal-body">
        <div class="modal-works"><span>Hack</span><span>Snack</span></div>
        <p>The end is near.<br><br>Work in the final few hours to refine your product ahead of your pitch.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-10" tabindex="-1" role="dialog" aria-labelledby="Modal-label-10">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-10">Let us hear your ideas</h4>
      </div>
      <div class="modal-body">
        <div class="modal-works"><span>Pitch</span><span>Prizes</span></div>
        <p>The moment of truth.<br><br>10 minutes, one product, one chance at glory.<br><br>Demonstrate your team's solution to our panel of judges. Answer their questions, answer questions from other teams, dicuss your thinking process and elaborate on the potential uses of your product.<br><br>Stay tuned as the judges reveal their findings<br><br>And please, finish all the food.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Modal-20" tabindex="-1" role="dialog" aria-labelledby="Modal-label-20">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-20">Terms and Conditions & Code of Conduct</h4>
      </div>
      <div class="modal-body">
        <div class="modal-works"><span>Terms</span><span>Conditions</span></div>
        <p>We don't like onerous terms & conditions. In our view, they aren't in the spirit of any hackathon let alone a law themed hack. So here are our core terms of entry. If you have any specific queries, please do get in touch via our email creator@hackjustice.com or on social media.<br><br><strong>Eligibility</strong><br><br>All current or recently graduated (within last year) university students in law, computer science, business, design or similar areas are welcome to attend.<br><br>We don't view the stage of your degree as being relevant to your eligiblity. Instead, your willingness to contribute to improved access to justice through innovation will ultimately earn you a place at the hackathon.<br><br><strong>Intellectual Property</strong><br><br>1. All IP that you create during the event is yours, subject to clause 2. Because it is yours, you might also want to agree as a team how you want to split the rights in whatever you create.<br><br>
        2. We are hoping to deliver and implement some of your ideas to Community Legal Centres to make their lives a little easier. So by agreeing to these terms, you agree to licence your IP for this purpose. You have discretion as to whether you wish to help with this implementation, but this is not mandatory.<br><br><strong>Inclusiveness</strong><br><br>We want to make HackJustice a welcoming space for everyone so equire that you abide by our Code of Conduct (see below) at all times. If you have any concerns or ways in which we can make HackJustice more accessible to you, please reach out @ creator@hackjustice.com<br><br><strong>Code of Conduct</strong><br><br>Our hackathon is dedicated to providing a harassment-free experience for everyone, regardless of the following.<br><br>
        <p><ul>
        <li>gender<li>
        <li>gender identity and expression<li>
        <li>age<li>
        <li>sexual orientation<li>
        <li>disability
        <li>physical appearance<li>
        <li>body size<li>
        <li>race<li>
        <li>ethnicity<li>
        <li>nationality<li>
        <li>religion<li>
        <li>previous hackathon attendance or lack of<li>
        <li>computing experience or lack of<li>
        <li>chosen programming language or tech stack<li>
        </ul></p><br><br>
        <p>We do not tolerate harassment of hackathon participants in any form. Sexual language and imagery is not appropriate at any hackathon venue, this includes the following.<br><br></p>
        <p><ul>
        <li>hacks<li>
        <li>talks, presentations, or demos<li>
        <li>workshops<li>
        <li>any parties associated to the hackathon<li>
        <li>social media<li>
        <li>any other online media<li>
        </ul></p><br><br>
        <p>Hackathon participants violating these rules may be sanctioned or expelled from the hackathon without a refund (if applicable) at the discretion of the hackathon organisers.</p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Modal-21" tabindex="-1" role="dialog" aria-labelledby="Modal-label-21">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-21">Privacy Policy</h4>
      </div>
      <div class="modal-body">
        <div class="modal-works"><span>Pitch</span><span>Prizes</span></div>
        <p>The moment of truth.<br><br>10 minutes, one product, one chance at glory.<br><br>Demonstrate your team's solution to our panel of judges. Answer their questions, answer questions from other teams, dicuss your thinking process and elaborate on the potential uses of your product.<br><br>Stay tuned as the judges reveal their findings<br><br>And please, finish all the food.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
