<!-- Modal for portfolio item 1 -->
<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-1">Dean & Letter</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-1.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for portfolio item 2 -->
<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-2">Startup Framework</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-2.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for portfolio item 3 -->
<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-3">Lamp & Velvet</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-3.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for portfolio item 4 -->
<div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-4">Smart Name</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-4.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for portfolio item 5 -->
<div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-5">Fast People</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-5.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-6" tabindex="-1" role="dialog" aria-labelledby="Modal-label-6">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-2">Welcome to HackJustice</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-2.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Welcome</span><span>Guest Speakers</span></div>
        <p>The event to kick off the mother of all law hackathons. <br><br>We've put together a list of brilliant minds from the legal and technology industry to speak about the future of law. Listen to their perspective, offer your own and engage with the future challenges of the legal industry.<br><br> This will be followed up by the formation of teams to compete in the hackathon. Each team will be assigned a number of developers from the Coder Factory Academy to help bring your ideas to life!<br><br>Teams will then hear from the community legal centres whose problems will be the subject of the event.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-7" tabindex="-1" role="dialog" aria-labelledby="Modal-label-7">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-2">Let the hack begin</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-2.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Hack</span><span>Snack</span></div>
        <p>Meet your team, brainstorm ideas, learn about the application development process and begin putting together your solution to the problem.<br><br>Remember to take a break, and when you do, come to the student lounge to enjoy some snacks kindly provided by Gilbert and Tobin.<br><br>Touch base with professionals in the industry about how technology is changing the way they work. They'll be around.<br><br>You might even score a freebie or two along the way.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-8" tabindex="-1" role="dialog" aria-labelledby="Modal-label-8">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-2">Into Day 2</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-2.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Hack</span><span>Snack</span></div>
        <p>Into the nitty gritty. Spend the day hacking, eating, talking and hacking a little more. Work with your dev team to construct your solution, test your development and prepare a pitch to convince the judges your solution is best.<br><br>Keep an ear out for some added inspiration, there will be plenty of it around.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-9" tabindex="-1" role="dialog" aria-labelledby="Modal-label-9">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-2">The home straight</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-2.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Hack</span><span>Snack</span></div>
        <p>The end is near.<br><br>Work in the final few hours to refine your product ahead of your pitch.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-10" tabindex="-1" role="dialog" aria-labelledby="Modal-label-10">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Modal-label-2">Let us hear your ideas</h4>
      </div>
      <div class="modal-body">
        <img src="assets/portfolio-2.jpg" alt="img01" class="img-responsive" />
        <div class="modal-works"><span>Pitch</span><span>Prizes</span></div>
        <p>The moment of truth.<br><br>20 minutes, one product, one chance at glory.<br><br>Demonstrate your team's solution to our panel of judges. Answer their questions, answer questions from other teams, dicuss your thinking process and elaborate on the potential uses of your product.<br><br>Stay tuned as the judges reveal their findings<br><br>And please, finish all the food.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
