<section id="register" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title customtitleregister">
          <h2>Register!</h2>
          <br>
          <div id="registration-form2">
          <h3>Interested? Let us know so we can confirm your place!</h3>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
			<%= render "users/form" %>
    </div>
</section>
