<div class="container">
  <div class="slider-container">
    <div class="intro-text">
      <div class="intro-lead-in">
        <span class="element"></span>
      </div>
      <div class="intro-heading">UNSW Law Hackathon</div>
      <img src="assets/logo.png" width='180' height='200' alt="hackathon theme logo">
      <br>
      <br>
      <a href="#register" data-scroll class="btn btn-xl">REGISTER NOW!</a>
    </div>
  </div>
</div>
<script>
    $(function(){
        $(".element").typed({
            strings: ["Last year we <strong>hacked</strong> the law ^2000", "This year we are <strong>back</strong> ^2000","To <strong>improve</strong> access to justice ^2000", "<strong>#</strong>HACKJUSTICE<strong>2</strong>"],
            typeSpeed: 0
        });
    });
</script>
