<div class="container">
  <div class="slider-container">
    <div class="intro-text">
      <div class="intro-lead-in">Australia's first ever Law School Hackathon</div>
      <div class="intro-heading">UNSW Law Hackathon</div>
      <img src="assets/logo.png" width='180' height='180' alt="hackathon theme logo">
      <br>
      <br>
      <a href="#about" class="page-scroll btn btn-xl fa fa-hashtag">hackthelaw</a>
    </div>
  </div>
</div>
