<div class="container">
  <div class="slider-container">
    <div class="intro-text">
      <div class="intro-lead-in">Australia's first ever Law School Hackathon</div>
      <div class="intro-heading">LexHack</div>
      <a href="#about" class="page-scroll btn btn-xl">Hack the Law!</a>
    </div>
  </div>
</div>
