<section id="team" class="team-container">
<div class="container">
  <div class="col-lg-12 text-center">
    <div class="section-title">
      <h2>Our Sponsors</h2>
      <br>
      <h3>Without them, this would only exist within the deep reaches of our mind</h3>
      <br>
    </div>
  </div>
<div class="row">
  <!-- team member item -->
  <div class="col-md-4">
    <div class="team-item">
      <div class="team-image">
          <a href="https://coderfactory.com/" target="_blank">
        <img src="assets/cfa" class="img-responsive" alt="author" width="400px" height="200px"></a>
      </div><br>
      <div class="team-text">
        <h3>Coder Factory Academy</h3>
        <div class="team-position">Technology Partner</div>
        <p>Home of Australia’s only US-style accredited coding bootcamp. The Coder Factory Academy offers full-time, part-time and casual coding workshops to all levels of developers.</p>
      </div>
    </div>
  </div>
  <!-- end team member item -->
  <!-- team member item -->
  <div class="col-md-4">
    <div class="team-item">
      <div class="team-image">
        <a href="http://www.icourts.com.au/" target="_blank">
        <img src="assets/icourts" class="img-responsive" alt="author" width="400px" height="200px"></a>
      </div><br>
      <div class="team-text">
        <h3>icourts</h3>
        <div class="team-position">Technology Law Partner</div>
        <p>Both a law firm and a legal technology consultancy specialising in the provision of electronic evidence management to courts, law firms and government agencies.</p>
      </div>
    </div>
  </div>
  <!-- end team member item -->
  <!-- team member item -->
  <div class="col-md-4">
    <div class="team-item">
      <div class="team-image">
        <a href="https://www.gtlaw.com.au/" target="_blank">
        <img src="assets/GT" class="img-responsive bottom" alt="author" width="400px" height="200px"></a>
      </div><br>
      <div class="team-text">
        <h3>Gilbert and Tobin</h3>
        <div class="team-position">Law Partner</div>
        <p>Commerical law firm bringing legal practice into the 21st century through the use of innovative methodology across an expanding industry base.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-3">
    <div class="team-item-small">
      <div class="team-image-small">
        <img src="assets/technolegem.png" class="img-responsive" alt="author" width="250px" height="150px">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="team-item-small">
      <div class="team-image-small col-md-offset-3 pull-left">
        <img src="assets/unswlawlogo" class="img-responsive" alt="author" width="250px" height="150px">
      </div>
    </div>
  </div>
  <!-- end team member item -->
</div>
</div>
</section>
