<section id="team" class="team-container">
<div class="container">
  <div class="col-lg-12 text-center">
    <div class="section-title">
      <h2>Our Friends</h2>
      <br>
      <h3>We are a student run initiative, but without our sponsors, HackJustice would only exist within the deep reaches of our mind!</h3>
      <br>
    </div>
  </div>
  <!-- end team member item -->
  <!-- team member item -->
  <div class="col-md-4">
    <div class="team-item">
      <div class="team-image">
        <a href="http://www.law.unsw.edu.au/" target="_blank">
        <img src="assets/unswlawlogo" class="img-responsive" alt="author" width="400px" height="200px"></a>
      </div><br>
      <div class="team-text">
        <h4>UNSW Law</h4>
        <div class="team-position">Education Partner</div>
        <p>Australia's leading law school, producing the lawyers of tomorrow through a globally relevant legal education </p>
      </div>
    </div>
  </div>
  <!-- end team member item -->
  <!-- team member item -->
  <div class="col-md-4">
    <div class="team-item">
      <div class="team-image">
        <a href="https://www.gtlaw.com.au/" target="_blank">
        <img src="assets/GT" class="img-responsive" alt="author" width="400px" height="200px"></a>
      </div><br>
      <div class="team-text">
        <h4>Gilbert and Tobin</h4>
        <div class="team-position">Law Partner</div>
        <p>Commercial law firm bringing legal practice into the 21st century through the use of innovative methodology across an expanding industry base.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="team-item">
      <div class="team-image">
        <a href="http://www.mcic.unsw.edu.au/" target="_blank">
        <img src="assets/mcic" class="img-responsive" alt="author" width="150px" height="150px"></a>
      </div><br>
      <div class="team-text">
        <h4>Michael Crouch Innovation Centre</h4>
        <div class="team-position">Innovation Partner</div>
        <p>An emergent force fostering innovation to create a better world. Building upon best practice internationally, the MCIC serves all faculties, all divisions and the community.</p>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-3">
      <div class="team-item-small lowered">
        <div class="team-image-small zapier">
            <a href="https://www.zapier.com" target="_blank">
          <img src="assets/zapier.png" class="img-responsive" alt="author"></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="team-item-small lowered">
          <div class="team-image-small lowered panel">
              <a href="https://www.unswlawsoc.org/" target="_blank">
            <img src="assets/lawsoc" class="img-responsive" alt="author"></a>
          </div>
        </div>
      </div>
  <div class="col-md-3">
    <div class="team-item-small lowered">
      <div class="team-image-small lowered panel">
          <a href="https://www.technolegem.org" target="_blank">
        <img src="assets/technolegem.png" class="img-responsive" alt="author"></a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="team-item-small">
      <div class="team-image-small tlf">
          <a href="http://thelegalforecast.com/" target="_blank">
        <img src="assets/tlflogo" class="img-responsive tlf" alt="author"></a>
      </div>
    </div>
  </div>
</div>
</div>
</section>
