<section id="team">
<div class="container">
  <div class="col-lg-12 text-center">
    <div class="section-title">
      <h2>Our Sponsors</h2>
      <br>
      <p>Without them, this would only exist within the deep reaches of our mind</p>
      <br>
    </div>
  </div>
<div class="row">
  <!-- team member item -->
  <div class="col-md-4">
    <div class="team-item">
      <div class="team-image">
        <img src="assets/cfa" class="img-responsive" alt="author" width="400px" height="200px">
      </div>
      <div class="team-text">
        <h3>Coder Factory Academy</h3>
        <div class="team-position">Technology Partner</div>
        <p>Mida sit una namet, cons uectetur adipiscing adon elit. Aliquam vitae barasa droma.</p>
      </div>
    </div>
  </div>
  <!-- end team member item -->
  <!-- team member item -->
  <div class="col-md-4">
    <div class="team-item">
      <div class="team-image">
        <img src="assets/icourts" class="img-responsive" alt="author" width="400px" height="200px">
      </div>
      <div class="team-text">
        <h3>icourts</h3>
        <div class="team-position">Technology Law Partner</div>
        <p>Worsa dona namet, cons uectetur dipiscing adon elit. Aliquam vitae fringilla unda mir.</p>
      </div>
    </div>
  </div>
  <!-- end team member item -->
  <!-- team member item -->
  <div class="col-md-4">
    <div class="team-item">
      <div class="team-image">
        <img src="assets/GT" class="img-responsive bottom" alt="author" width="400px" height="200px">
      </div>
      <div class="team-text">
        <h3>Gilbert and Tobin</h3>
        <div class="team-position">Law Partner</div>
        <p>Dolor sit don namet, cons uectetur beriscing adon elit. Aliquam vitae fringilla unda.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-3">
    <div class="team-item-small">
      <div class="team-image-small">
        <img src="assets/technolegem.png" class="img-responsive" alt="author" width="250px" height="150px">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="team-item-small">
      <div class="team-image-small col-md-offset-3 pull-left">
        <img src="assets/unswlawlogo" class="img-responsive" alt="author" width="250px" height="150px">
      </div>
    </div>
  </div>
  <!-- end team member item -->
</div>
</div>
<section>
