<div class="dark-bg">
<div class="container">
  <div class="col-lg-12 text-center">
    <div class="section-title">
      <br><br>
      <h2>What's Happening?</h2>
      <br>
      <p>Three day schedule jam-packed with events</p>
      <br>
    </div>
  </div>
</div>
<section id="cd-timeline">
<div class="cd-container">
<div class="row">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/cd-icon-picture.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Launch</h2>
      <p>Industry's best...</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date"><stong>July 18</strong><br>10am</span>

    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
      <img src="img/cd-icon-movie.svg" alt="Movie">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Let the hack begin</h2>
      <p>aaa</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jul 18</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/cd-icon-picture.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Hack Hack Hack</h2>
      <p>ssss</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jul 19</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
      <img src="img/cd-icon-location.svg" alt="Location">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Hack a little more</h2>
      <p>a</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jul 20</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
      <img src="img/cd-icon-location.svg" alt="Location">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Pitch and Presentation</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jul 20</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->
</div>
</div>
</div>
</section> <!-- cd-timeline -->
