<div class="dark-bg" id="test">
<div class="container">
  <div class="col-lg-12 text-center">
    <div class="section-title">
      <br><br>
      <h2>What's Happening?</h2>
      <br>
      <h3>Two day schedule, jam-packed with events of course.</h3>
      <br>
    </div>
  </div>
</div>
<section id="cd-timeline">
<div class="cd-container">
<div class="row">

<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-movie"></div>
  <div class="cd-timeline-content">
    <h2>Launch</h2>
    <p><strong>July 20, 10am</strong><br>Hear the industry's best minds discuss the future of law and what it means for legal education moving forward.</p>
    <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-6">Read More</a>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-movie"></div>
  <div class="cd-timeline-content">
    <h2>Let the hack begin</h2>
    <p><strong>July 20, post launch</strong><br>Work together with your team to tackle the prescribed problem in any way you see fit.</p>
    <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-7">Read More</a>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>Hack Hack Hack</h2>
      <p><strong>July 21, Around 9am</strong><br>Keep the ideas coming and we'll keep the food rolling.</p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-8">Read More</a>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-location"></div>
    <div class="cd-timeline-content">
        <h2>Pitch and Presentation</h2>
        <p><strong>July 21, 1pm</strong><br>The time has come to present your solutions to our panel of judges. The possibilities are endless.</p>
        <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-10">Read More</a>
    </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

</div>
</div>
</div>
</section> <!-- cd-timeline -->
