<div class="dark-bg">
<div class="container">
  <div class="col-lg-12 text-center">
    <div class="section-title">
      <br><br>
      <h2>What's Happening?</h2>
      <br>
      <h3>Three day schedule, jam-packed with events of course.</h3>
      <br>
    </div>
  </div>
</div>
<section id="cd-timeline">
<div class="cd-container">
<div class="row">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/cd-icon-picture.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Launch</h2>
      <p>Hear the industry's best minds discuss the future of law and what it means for leagl education moving forward.</p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-6">Read More</a>
      <span class="cd-date"><strong>July 18<br>10am</strong></span>

    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
      <img src="img/cd-icon-movie.svg" alt="Movie">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Let the hack begin</h2>
      <p>Work together with your team to tackle the prescribed problem in any way you see fit.</p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-7">Read More</a>
      <span class="cd-date"><strong>Following the launch</strong></span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="img/cd-icon-picture.svg" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Hack Hack Hack</h2>
      <p>ssss</p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-8">Read More</a>
      <span class="cd-date"><strong>Jul 19<br>Bright and Early</strong></span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
      <img src="img/cd-icon-location.svg" alt="Location">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Hack a little more</h2>
      <p>a</p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-9">Read More</a>
      <span class="cd-date"><strong>Jul 20<br>The home stretch</strong></span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
      <img src="img/cd-icon-location.svg" alt="Location">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Pitch and Presentation</h2>
      <p></p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-10">Read More</a>
      <span class="cd-date"><strong>Jul 20</strong></span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->
</div>
</div>
</div>
</section> <!-- cd-timeline -->
