<div class="dark-bg">
<div class="container">
  <div class="col-lg-12 text-center">
    <div class="section-title">
      <br><br>
      <h2>What's Happening?</h2>
      <br>
      <h3>Three day schedule, jam-packed with events of course.</h3>
      <br>
    </div>
  </div>
</div>
<section id="cd-timeline">
<div class="cd-container">
<div class="row">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>

    <div class="cd-timeline-content">
      <h2>Launch</h2>
      <p>Hear the industry's best minds discuss the future of law and what it means for legal education moving forward.</p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-6">Read More</a>
      <span class="cd-date"><strong>July 18<br>10am</strong></span>

    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>

    <div class="cd-timeline-content">
      <h2>Let the hack begin</h2>
      <p>Work together with your team to tackle the prescribed problem in any way you see fit.</p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-7">Read More</a>
      <span class="cd-date"><strong>Following the launch</strong></span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Hack Hack Hack</h2>
      <p>Keep the ideas coming and we'll keep the food rolling.</p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-8">Read More</a>
      <span class="cd-date"><strong>Jul 19<br>Bright and Early<br>Around 9am</strong></span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Hack a little more</h2>
      <p>D Day, the end is in sight...the prizes too, work throughout the morning to refine your ideas ahead of the afternoon pitch.</p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-9">Read More</a>
      <span class="cd-date"><strong>Jul 20<br>9am<br></strong></span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Pitch and Presentation</h2>
      <p>The time has come to present your solutions to our panel of judges. The possibilities are endless.</p>
      <a href="#" class="cd-read-more" data-toggle="modal" data-target="#Modal-10">Read More</a>
      <span class="cd-date"><strong>Jul 20<br>1pm</strong></span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->
</div>
</div>
</div>
</section> <!-- cd-timeline -->
